name: Makefile CI

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    container:
      image: pandoc/latex:latest-ubuntu
    
    steps:
    - name: Install necessary packages
      run: apt update
           apt install build-essential
           
    - uses: actions/checkout@v4

    - name: Make the pdf
      run: make
