name: Makefile CI

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    container:
      image: pandoc/latex:latest
    
    steps:
    - uses: actions/checkout@v4

    - name: Make the pdf
      run: make
