name: Makefile CI

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Install necessary packages
      run: apt-get update && apt-get -y install pandoc
           
    - uses: actions/checkout@v4

    - name: Make the pdf
      run: make
